./Lab4/*.c~
./Lab4/*.o
./Lab5/*.c~
./Lab5/*.o
./Lab6/*.c~
./Lab6/*.o
./Lab7/*.c~
./Lab7/*.o
./Lab8/*.c~
./Lab8/*.o
./Lab9/*.c~
./Lab9/*.o
./Lab10/*.c~
./Lab10/*.o
./Lab11/*.c~
./Lab11/*.o
./Lab12/*.c~
./Lab12/*.o
./Lab13/*.c~
./Lab13/*.o
./Lab14/*.c~
./Lab14/*.o
./Lab15/*.c~
./Lab15/*.o
./Lab16/*.c~
./Lab16/*.o
./Lab17/*.c~
./Lab17/*.o
./Lab18/*.c~
./Lab18/*.o
./Lab19/*.c~
./Lab19/*.o
